# The address(s) you connect to your cluster with
cluster_address:
    - https://your.elasticsearch.cluster.com


# You can specify all of your data nodes with the special '_all_data_nodes' section
# and the script will find all data nodes in the cluster for use
data_nodes: 
    _all_data_nodes_


# Or you can specify individual nodes like so
#data_nodes:
#   - eshdn01-es1
#   - eshdn03-es1
#   - eshdn07-es1
#   - eshdn10-es1
#   - eshdn011-es1
#   - eshdn013-es1
        
